body {
    background-color: rgb(20, 20, 20);
    animation:background-animation 3s;
}

@keyframes background-animation{
    0% {
        background-color: rgb(0, 0, 0);
    }

    100% {
        background-color: rgb(20, 20, 20);
    }
}

::selection {
    color: rgba(255, 255, 255, .4);
    background-color: rgba(255, 255, 255, .1);
}
#welcome-text{
    text-align: center;
    font-size: 350%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30%;
    margin-bottom: 25%;
    color: rgba(255, 255, 255, .8);
    animation: welcome-text-animation 3s;
}


#contacts-bar{
    text-align: center;
    color:rgba(150, 150, 150, 9);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: contacts-animation 3s;
}


a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }
Button{
    background-color: rgba(0, 0, 0, .8);
    padding: .9%;
    margin:.9%;
    color: rgba(255, 255, 255, .8);
    border:1px groove rgba(255, 255, 255, .6);
    border-radius: 15%;
    transition: all .3s;
}
Button:hover{
    background-color: rgba(255, 255, 255, .8);
    color: rgba(0, 0, 0, .8);
    border:1px groove rgba(0, 0, 0, .8);
    border-radius: 15%;
}

@keyframes welcome-text-animation {
    0% {
        opacity: 0;
        color: rgba(0, 0, 0, .8);
        font-size: 100%;
        transform:rotate(50deg);
    }

    50% {
        transform:rotate(-25deg);
    }

    100% {
        opacity: 100;
        color: rgba(255, 255, 255, .8);
        font-size: 350%;
        transform:rotate(0deg);

    }
}


@keyframes contacts-animation {
    0% {
        left: 10%;
        color:rgba(58, 57, 57, 9);
        opacity: 0%;
    }
    50% {
        color:rgba(58, 57, 57, 9); 
    }

    100% {
        color:rgba(150, 150, 150, 9);
        opacity: 100%;
        left: 38%;
    }
};

#music-player {
     /* marg */
}



/* #currently-playing {
    color: rgba(255, 255, 255, .8);
    background-color: rgba(255, 0, 0, .6);
    font-size: 20px;
    margin: 20px;
} */
#playtoggle-button {
    background-color: rgba(255, 0, 0, .4);

}

#whoiam-container{
    text-align: center;
    color:rgba(150, 150, 150, .9);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: contacts-animation 3s;
    font-size: 20px;

}
#whoiam-question {
    font-size: 75px;
    color: rgba(255, 255, 255, .9)
}
#whoiam {
    font-size: 20px;
}
#experience-text {
    font-size: 75px;
    color: rgba(255, 255, 255, .7)
}
#experience {
    font-size: 20px;
}
#goodat-text {
    font-size: 65px;
    color: rgba(255, 255, 255, .7)
    
}
#goodat {
    font-size: 20px;
}
#projects-text {
    font-size: 75px;
    color: rgba(255, 255, 255, .7)
    
}
#litchymc {
    color: rgb(0, 217, 255);
    font-size: 25px;
    border: 2px solid  rgb(0, 217, 255);
    border-radius: 20px;
    margin-top: 20px;
    transition: all .3s;

}
#litchymc-role{
    color:red;
    font-size: 20px;

}

#randomcraft {
    color: rgb(255, 170, 0);
    font-size: 25px;
    border: 2px solid  rgb(255, 170, 0);
    border-radius: 15px;
    margin-top: 20px;
    transition: all .3s;
    
}
#randomcraft-role{
    color:rgb(0, 76, 255);
    font-size: 20px;
}

#wikihub {
    color: rgb(206, 206, 206);
    font-size: 25px;
    border: 2px solid  rgb(206, 206, 206);
    border-radius: 15px;
    margin-top: 20px;
    transition: all .3s;

}
#wikihub-role{
    color:red;
    font-size: 20px;

}


#litchymc:hover{
    background-color: rgba(0, 217, 255, .2);;
}


#randomcraft:hover{
    background-color: rgba(255, 170, 0, .2);
}

#wikihub:hover{
    background-color: rgba(206, 206, 206, .2);
}